*,
*::before,
*::after {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
form {
  padding: 20px;
  background-color: #78b89f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: 4px 4px #000;
}
h2 {
  width: 100%;
  text-align: center;
  color: #323232;
  font-size: 26px;
  font-family: monospace;
  margin-bottom: 20px;
}
input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #f0f0fc;
  box-shadow: 4px 4px #000;
  font-size: 15px;
  font-weight: 600;
  color: #323232;
  padding: 5px 10px;
  outline: none;
}
input::placeholder {
  color: #666666;
  opacity: 0.8;
}
input:focus {
  border: 2px solid #425e53;
  box-shadow: 4px 4px #425e53;
}
div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #000;
  background-color: #f0f0fc;
  box-shadow: 4px 4px #000;
}
button {
  margin: 20px auto 10px auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #f0f0fc;
  box-shadow: 4px 4px #000;
  font-size: 17px;
  font-weight: 700;
  color: #323232;
  cursor: pointer;
}
a:active, button:active {
  box-shadow: 0 0 #000;
  transform: translate(3px, 3px);
}